@font-face {
  font-family: matrix;
  src: url(/matrix-font/Matrix-MZ4P.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}

body {
  color: white;
  background: url("/Images/matrix.jpg") no-repeat center/ cover;
  backdrop-filter: blur(5px);
  text-align: center;
  font-family: matrix, sans-serif;
}

.header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  font-size: 2rem;
}

.container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 20px;
}

.message {
  color: white;
}
.message h2,
.message h3 {
  margin-bottom: 30px;
}

.message h3 {
  text-decoration: underline;
}

.message p {
  margin-bottom: 10px;
  font-size: 2rem;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
}

#button-container button {
  color: white;
  width: 150px;
  height: 150px;
  background: transparent;
  /*border: solid white 10px;
    border-radius: 50%;*/
  font-size: 2rem;
  border-style: none;
}

button .fa-regular:hover {
  color: red;
  font-size: 8rem;
  transition: 0.2s;
}

button .fa-regular {
  font-size: 6rem;
}

.score {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding: 20px;
}

.score p {
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bold;
}

.result {
  height: 110px;
}
#result-line {
  padding: 10px;
}

.replay {
  margin: 20px 0px;
  height: 60px;
}

.replay .replay-button {
  color: white;
  width: 120px;
  height: 60px;
  background: transparent;
  border: solid white 2px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.2rem;
}

.focus {
  color: white;
  width: 120px;
  height: 60px;
  background: transparent;
  border: solid white 2px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.596);
  font-family: inherit;
  font-size: 1.3rem;
}

.focus:hover {
  width: 150px;
  height: 70px;
  font-size: 1rem;
  transition: 0.3s;
}

.footer {
  background-color: rgba(255, 255, 255, 0.13);
  color: #fff;
  font-size: 1.5rem;
}

.footer > a {
  text-decoration: none;
  color: #fff;
}
